/*
Error: Invalid CSS after "...-footer-color: ": expected expression (e.g. 1px, bold), was "#31106cd6;"
        on line 4 of variables.scss

1: $bg-color: #d7e4ec;
2: $chat-border-color: #eeeeee;
3: $chat-user-bg-color: #f6f7f9;
4: $top-footer-color: #31106cd6;
5: $to-message-bg-color: $top-footer-color;

Backtrace:
variables.scss:4
C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:1207:in `expected'
C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/script/lexer.rb:229:in `expected!'
C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/script/parser.rb:710:in `assert_expr'
C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/script/parser.rb:75:in `parse'
C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:1063:in `sass_script'
C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:630:in `variable'
C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:684:in `block_child'
C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:677:in `block_contents'
C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:125:in `stylesheet'
C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:41:in `parse'
C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/engine.rb:409:in `_to_tree'
C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/engine.rb:384:in `_render_with_sourcemap'
C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/engine.rb:301:in `render_with_sourcemap'
C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:391:in `run'
C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/sass-3.4.25/bin/sass:13:in `<top (required)>'
C:/Ruby30-x64/bin/sass:23:in `load'
C:/Ruby30-x64/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...-footer-color: \": expected expression (e.g. 1px, bold), was \"#31106cd6;\"\A         on line 4 of variables.scss\A \A 1: $bg-color: #d7e4ec;\A 2: $chat-border-color: #eeeeee;\A 3: $chat-user-bg-color: #f6f7f9;\A 4: $top-footer-color: #31106cd6;\A 5: $to-message-bg-color: $top-footer-color;"; }
