<div class="content" role="main">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 col-xl-12">
      <div class="row">
        <div class="col-xs-4 text-center">
          <img
            *ngIf="userService.profileDetailProfileImage != null"
            src="{{ userService.profileDetailProfileImage }}"
            class="profile-img"
            width="80"
            height="80"
          />
        </div>
        <div class="col-xs-8">
          <div class="profile-detail-user-name">
            {{ userService.profileForm.UserName.Value }}
          </div>
          <a mat-button [matMenuTriggerFor]="menu">
            <a class="btn btn-default btn-profile-change"
              ><div translate="change_profile"></div>
            </a>
          </a>
          <mat-menu #menu="matMenu">
            <a
              mat-menu-item
              [routerLink]="['/' + baseCtrl.pageLanguage + '/profile-change']"
            >
              <mat-icon>photo_album</mat-icon>
              <span translate="change_profile"></span>
            </a>
            <a
              mat-menu-item
              [routerLink]="['/' + baseCtrl.pageLanguage + '/gold-member']"
            >
              <mat-icon>grade</mat-icon>
              <span translate="gold_member"></span>
            </a>
            <a
              mat-menu-item
              [routerLink]="['/' + baseCtrl.pageLanguage + '/change-password']"
            >
              <mat-icon>lock</mat-icon>
              <span translate="change_password"></span>
            </a>
          </mat-menu>
          &nbsp;&nbsp;
          <a
            class="btn btn-default btn-profile-change"
            (click)="onLogout()"
            >
            <i class="fa fa-lock"></i>
          </a>
          <p style="display: block; margin-top: 10px; font-size: 14px">
            {{ userService.profileForm.StatusText.Value }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-8 offset-sm-2">
      <div class="row">
        <div class="col-sm-12">
          <a
            class="btn btn-default btn-profile-change"
            (click)="onOpenChoosePhotoDialog()"
            ><div translate="upload_photo"></div>
          </a>
          <input
            type="file"
            id="uploadedPhoto"
            style="display: none"
            (change)="readThis($event)"
            multiple
          />
          <hr />
          <p
            *ngIf="userService.profileForm.ProfilePhotos.Value == null"
            translate="please_add_photo"
          ></p>
        </div>
        <div
          *ngFor="let p of userService.profileForm.ProfilePhotos.Value"
          class="col-sm-4 col-12"
          (click)="onOpenProfilePhoto(p.FileURL.Value, p.FileId.Value)"
        >
          <div class="profile-list-img">
            <img src="{{ p.FileURL.Value }}" />
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
