<div class="close-button-container" (click)="close()">
  <i class="fa fa-times"></i>
</div>
<div style="margin-top: 80px;margin-bottom: 80px;">
  <div class="text-center" *ngIf="!userService.setForgotPasswordSuccess">
    <p translate="type_your_user_name" class="text-center"></p>
  </div>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <form *ngIf="!userService.setForgotPasswordSuccess">
        <div class="form-group">
          <label translate="user_name"></label>
          <input
            type="text"
            ngModel
            name="userName"
            [(ngModel)]="userService.forgotPasswordForm.UserName.Value"
            class="form-control"
          />
          <div
            *ngIf="
              baseCtrl.checkField(userService.forgotPasswordForm.UserName) &&
              submitted
            "
            class="error-required"
            translate="field_required"
          ></div>
        </div>
        <div class="form-group">
          <button
            class="btn btn-danger"
            translate="send"
            (click)="onSubmit()"
          ></button>
        </div>
      </form>

      <div *ngIf="userService.setForgotPasswordSuccess">
        <div class="text-center">
          <i class="fa fa-check-circle" style="font-size: 40px; color: green"></i><br /><br />

          <p translate="we_have_sent_email"></p>
          <p class="text-center">
            <span translate="i_want_to" class="text-center"></span>&nbsp;
            <a (click)="close()" translate="login" class="link-color"></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
