<div class="content">
  <div *ngIf="base.pageLanguage == 'en'">
    <h3>Privacy Policy</h3>

    <p>Welcome to ChatInUni!</p>

    <p>
      These terms and conditions outline the rules and regulations for the use
      of ChatInUni, located at
      <a href="https://chatinuni.com" target="_blank">chatinuni.com</a>.
    </p>

    <p>
      By accessing this website we assume you accept these terms and conditions.
      Do not continue to use ChatInUni if you do not agree to take all of the
      terms and conditions stated on this page.
    </p>

    <p>
      The following terminology applies to these Terms and Conditions, Privacy
      Statement and Disclaimer Notice and all Agreements: “Client”, “You” and
      “Your” refers to you, the person log on this website and compliant to the
      Company's terms and conditions. “The Company”, “Ourselves”, “We”, “Our”
      and “Us”, refers to our Company. “Party”, “Parties”, or “Us”, refers to
      both the Client and ourselves. All terms refer to the offer, acceptance
      and consideration of payment necessary to undertake the process of our
      assistance to the Client in the most appropriate manner for the express
      purpose of meeting the Client's needs in respect of provision of the
      Company's stated services, in accordance with and subject to, prevailing
      law of Netherlands. Any use of the above terminology or other words in the
      singular, plural, capitalization and/or he/she or they, are taken as
      interchangeable and therefore as referring to same.
    </p>

    <h4>Cookies</h4>
    <p>
      We employ the use of cookies. By accessing ChatInUni, you agreed to use
      cookies in agreement with the ChatInuni's Privacy Policy.
    </p>

    <p>
      Most interactive websites use cookies to let us retrieve the user's
      details for each visit. Cookies are used by our website to enable the
      functionality of certain areas to make it easier for people visiting our
      website. Some of our affiliate/advertising partners may also use cookies.
    </p>

    <h4>License</h4>
    <p>
      Unless otherwise stated, ChatInUni and/or its licensors own the
      intellectual property rights for all material on ChatInUni. All
      intellectual property rights are reserved. You may access this from
      ChatInUni for your own personal use subjected to restrictions set in these
      terms and conditions.
    </p>

    <p>You must not:</p>
    <ul>
      <li>Republish material from ChatInUni</li>
      <li>Sell, rent or sub-license material from ChatInUni</li>
      <li>Reproduce, duplicate or copy material from ChatInUni</li>
      <li>Redistribute content from ChatInUni</li>
    </ul>
    <p>This Agreement shall begin on the date hereof.</p>
    <p>
      Parts of this website offer an opportunity for users to post and exchange
      opinions and information in certain areas of the website. ChatInUni
      does not filter, edit, publish or review Comments prior to their presence
      on the website. Comments do not reflect the views and opinions of Company
      Name,its agents and/or affiliates. Comments reflect the views and opinions
      of the person who post their views and opinions. To the extent permitted
      by applicable laws, ChatInUni shall not be liable for the Comments or
      for any liability, damages or expenses caused and/or suffered as a result
      of any use of and/or posting of and/or appearance of the Comments on this
      website.
    </p>

    <p>
      ChatInUni reserves the right to monitor all Comments and to remove any
      Comments which can be considered inappropriate, offensive or causes breach
      of these Terms and Conditions.
    </p>

    <p>You warrant and represent that:</p>
    <ul>
      <li>
        You are entitled to post the Comments on our website and have all
        necessary licenses and consents to do so;
      </li>
      <li>
        The Comments do not invade any intellectual property right, including
        without limitation copyright, patent or trademark of any third party;
      </li>
      <li>
        The Comments do not contain any defamatory, libelous, offensive,
        indecent or otherwise unlawful material which is an invasion of privacy
      </li>
      <li>
        The Comments do not contain any defamatory, libelous, offensive,
        indecent or otherwise unlawful material which is an invasion of privacy
      </li>
      <li>
        The Comments will not be used to solicit or promote business or custom
        or present commercial activities or unlawful activity.
      </li>
    </ul>

    <p>
      You hereby grant ChatInUni a non-exclusive license to use, reproduce,
      edit and authorize others to use, reproduce and edit any of your Comments
      in any and all forms, formats or media.
    </p>

    <h4>Hyperlinking to our Content</h4>
    <p>
      The following organizations may link to our Website without prior written
      approval:
    </p>
    <ul>
      <li>Government agencies;</li>
      <li>Search engines;</li>
      <li>News organizations;</li>
      <li>
        Online directory distributors may link to our Website in the same manner
        as they hyperlink to the Websites of other listed businesses; and
      </li>
      <li>
        System wide Accredited Businesses except soliciting non-profit
        organizations, charity shopping malls, and charity fundraising groups
        which may not hyperlink to our Web site.
      </li>
    </ul>

    <p>
      These organizations may link to our home page, to publications or to other
      Website information so long as the link: (a) is not in any way deceptive;
      (b) does not falsely imply sponsorship, endorsement or approval of the
      linking party and its products and/or services; and (c) fits within the
      context of the linking party's site.
    </p>

    <p>
      We may consider and approve other link requests from the following types
      of organizations:
    </p>

    <ul>
      <li>commonly-known consumer and/or business information sources;</li>
      <li>dot.com community sites;</li>
      <li>associations or other groups representing charities;</li>
      <li>online directory distributors;</li>
      <li>internet portals;</li>
      <li>accounting, law and consulting firms; and</li>
      <li>educational institutions and trade associations.</li>
    </ul>

    <p>
      We will approve link requests from these organizations if we decide that:
      (a) the link would not make us look unfavorably to ourselves or to our
      accredited businesses; (b) the organization does not have any negative
      records with us; (c) the benefit to us from the visibility of the
      hyperlink compensates the absence of ChatInUni; and (d) the link is in
      the context of general resource information.
    </p>

    <p>
      These organizations may link to our home page so long as the link: (a) is
      not in any way deceptive; (b) does not falsely imply sponsorship,
      endorsement or approval of the linking party and its products or services;
      and (c) fits within the context of the linking party's site.
    </p>

    <p>
      If you are one of the organizations listed in paragraph 2 above and are
      interested in linking to our website, you must inform us by sending an
      e-mail to ChatInUni. Please include your name, your organization name,
      contact information as well as the URL of your site, a list of any URLs
      from which you intend to link to our Website, and a list of the URLs on
      our site to which you would like to link. Wait 2-3 weeks for a response.
    </p>

    <p>Approved organizations may hyperlink to our Website as follows:</p>

    By use of our corporate name; or By use of the uniform resource locator
    being linked to; or By use of any other description of our Website being
    linked to that makes sense within the context and format of content on the
    linking party's site. No use of ChatInUni's logo or other artwork will be
    allowed for linking absent a trademark license agreement.

    <h4>iFrames</h4>
    Without prior approval and written permission, you may not create frames
    around our Webpages that alter in any way the visual presentation or
    appearance of our Website.

    <h4>Content Liability</h4>
    We shall not be hold responsible for any content that appears on your
    Website. You agree to protect and defend us against all claims that is
    rising on your Website. No link(s) should appear on any Website that may be
    interpreted as libelous, obscene or criminal, or which infringes, otherwise
    violates, or advocates the infringement or other violation of, any third
    party rights.

    <h4>Reservation of Rights</h4>
    We reserve the right to request that you remove all links or any particular
    link to our Website. You approve to immediately remove all links to our
    Website upon request. We also reserve the right to amen these terms and
    conditions and it's linking policy at any time. By continuously linking to
    our Website, you agree to be bound to and follow these linking terms and
    conditions.

    <h4>Removal of links from our website</h4>
    If you find any link on our Website that is offensive for any reason, you
    are free to contact and inform us any moment. We will consider requests to
    remove links but we are not obligated to or so or to respond to you
    directly. We do not ensure that the information on this website is correct,
    we do not warrant its completeness or accuracy; nor do we promise to ensure
    that the website remains available or that the material on the website is
    kept up to date.

    <h4>Disclaimer</h4>
    To the maximum extent permitted by applicable law, we exclude all
    representations, warranties and conditions relating to our website and the
    use of this website. Nothing in this disclaimer will:
    <ul>
      <li>
        limit or exclude our or your liability for death or personal injury;
      </li>
      <li>
        limit or exclude our or your liability for fraud or fraudulent
        misrepresentation;
      </li>
      <li>
        limit any of our or your liabilities in any way that is not permitted
        under applicable law; or
      </li>
      <li>
        exclude any of our or your liabilities that may not be excluded under
        applicable law.
      </li>
    </ul>

    <p>
      The limitations and prohibitions of liability set in this Section and
      elsewhere in this disclaimer: (a) are subject to the preceding paragraph;
      and (b) govern all liabilities arising under the disclaimer, including
      liabilities arising in contract, in tort and for breach of statutory duty.
    </p>

    <p>
      As long as the website and the information and services on the website are
      provided free of charge, we will not be liable for any loss or damage of
      any nature.
    </p>
  </div>
  <div *ngIf="base.pageLanguage == 'ua'">
    <h3>Політика конфіденційності
    </h3>

    <p>Ласкаво просимо до ChatInUni!    </p>

    <p>
      Ці положення та умови окреслюють правила та норми використання ChatInUni, розміщеного на
      <a href="https://chatinuni.com" target="_blank">chatinuni.com</a>.
    </p>

    <p>
      Відкриваючи цей веб-сайт, ми припускаємо, що ви приймаєте ці положення та умови. Не продовжуйте використовувати ChatInUni, якщо ви не згодні прийняти всі положення та умови, викладені на цій сторінці.


    </p>

    <p>
      Наступна термінологія застосовується до цих Умов використання, Заяви про конфіденційність, Повідомлення про відмову від відповідальності та всіх Угод: «Клієнт», «Ви» та «Ваш» стосується вас, особи, яка ввійшла на цей веб-сайт і відповідає положенням і умовам Компанії. «Компанія», «Ми», «Ми», «Наш» і «Нас» відноситься до нашої Компанії. «Сторона», «Сторони» або «Ми» стосується як Клієнта, так і нас самих. Усі умови стосуються пропозиції, прийняття та розгляду платежу, необхідного для здійснення процесу нашої допомоги Клієнту найбільш відповідним чином з конкретною метою задоволення потреб Клієнта щодо надання зазначених послуг Компанії відповідно до і відповідно до чинного законодавства Нідерландів. Будь-яке використання наведеної вище термінології чи інших слів в однині, множині,


    </p>

    <h4>Печиво</h4>
    <p>
      Ми використовуємо файли cookie. Отримавши доступ до ChatInUni, ви погодилися використовувати файли cookie відповідно до Політики конфіденційності компанії.


    </p>

    <p>
      Більшість інтерактивних веб-сайтів використовують файли cookie, щоб ми могли отримувати інформацію про користувача під час кожного відвідування. Файли cookie використовуються нашим веб-сайтом, щоб увімкнути функціональність певних областей, щоб людям було легше відвідувати наш веб-сайт. Деякі з наших афілійованих/рекламних партнерів також можуть використовувати файли cookie.


    </p>

    <h4>Ліцензія</h4>
    <p>
      Якщо не зазначено інше, назва компанії та/або її ліцензіари володіють правами інтелектуальної власності на всі матеріали на ChatInUni. Усі права інтелектуальної власності зберігаються. Ви можете отримати доступ до цього з ChatInUni для власного особистого використання з урахуванням обмежень, встановлених цими положеннями та умовами.


    </p>

    <p>Ви не повинні:</p>
    <ul>
      <li>Перепублікуйте матеріал з ChatInUni</li>
      <li>Продавайте, здавайте в оренду або субліцензуйте матеріали від ChatInUni
      </li>
      <li>Відтворюйте, дублюйте або копіюйте матеріали з  ChatInUni</li>
      <li>Перерозподіл вмісту з ChatInUni</li>
    </ul>
    <p>Дія цієї Угоди набуває чинності з дати її підписання.    </p>
    <p>
      Частини цього веб-сайту пропонують користувачам можливість публікувати та обмінюватися думками та інформацією в певних розділах веб-сайту. Назва компанії не фільтрує, не редагує, не публікує та не переглядає Коментарі до їх появи на веб-сайті. Коментарі не відображають поглядів і думок компанії Name, її агентів і/або філій. Коментарі відображають погляди та думки особи, яка опублікувала свої погляди та думки. У межах, дозволених чинним законодавством, ChatInUni не несе відповідальності за Коментарі або за будь-яку відповідальність, збитки чи витрати, спричинені та/або понесені в результаті будь-якого використання та/або публікації та/або появи Коментарів на цей веб-сайт.


    </p>

    <p>
      Назва компанії залишає за собою право відстежувати всі коментарі та видаляти будь-які коментарі, які можна вважати недоречними, образливими або спричиняють порушення цих Умов.


    </p>

    <p>Ви гарантуєте та заявляєте, що:

    </p>
    <ul>
      <li>
        Ви маєте право публікувати коментарі на нашому веб-сайті та маєте всі необхідні ліцензії та згоди для цього;

      </li>
      <li>
        Коментарі не порушують жодних прав інтелектуальної власності, включаючи, без обмежень, авторські права, патенти чи торгові марки будь-якої третьої сторони;

      </li>
      <li>
        Коментарі не містять жодних наклепницьких, наклепницьких, образливих, непристойних чи іншим чином незаконних матеріалів, які є втручанням у приватне життя

      </li>
      <li>
        Коментарі не містять жодних наклепницьких, наклепницьких, образливих, непристойних чи іншим чином незаконних матеріалів, які є втручанням у приватне життя

      </li>
      <li>
        Коментарі не використовуватимуться для прохання чи просування бізнесу чи звичаїв, а також для представлення комерційної чи незаконної діяльності.

      </li>
    </ul>

    <p>
      Цим ви надаєте «Назві компанії» невиключну ліцензію на використання, відтворення, редагування та дозвіл іншим особам використовувати, відтворювати та редагувати будь-які ваші коментарі в будь-якій формі, форматі чи носії.


    </p>

    <h4>Гіперпосилання на наш вміст
    </h4>
    <p>
      Наступні організації можуть посилатися на наш веб-сайт без попереднього письмового дозволу:


    </p>
    <ul>
      <li>Державні установи;
      </li>
      <li>Пошукові системи;
      </li>
      <li>Новинні організації;
      </li>
      <li>
        Розповсюджувачі онлайн-каталогів можуть розміщувати посилання на наш веб-сайт так само, як і гіперпосилання на веб-сайти інших перелічених компаній; і

      </li>
      <li>
        Системні акредитовані підприємства, за винятком некомерційних організацій, благодійних торговельних центрів і благодійних груп зі збору коштів, які можуть не посилатися на наш веб-сайт.
      </li>
    </ul>

    <p>
      Ці організації можуть посилатися на нашу домашню сторінку, публікації чи іншу інформацію веб-сайту, якщо посилання: (a) жодним чином не є оманливим; (b) не натякає на спонсорство, підтримку чи схвалення сторони, що зв’язується, та її продуктів і/або послуг; і (c) відповідає контексту сайту сторони, яка посилається.


    </p>

    <p>
      Ми можемо розглядати та схвалювати інші запити на посилання від таких типів організацій:


    </p>

    <ul>
      <li>загальновідомі споживчі та/або ділові джерела інформації;
      </li>
      <li>сайти спільнот dot.com;
      </li>
      <li>асоціації чи інші групи, що представляють благодійні організації;
      </li>
      <li>розповсюджувачі онлайн-каталогів;</li>
      <li>інтернет-портали;
      </li>
      <li>бухгалтерські, юридичні та консалтингові фірми; і
      </li>
      <li>навчальні заклади та торгові асоціації.
      </li>
    </ul>

    <p>
      Ми схвалимо запити на посилання від цих організацій, якщо вирішимо, що: (a) посилання не призведе до того, що ми будемо виглядати неприхильно для себе або для наших акредитованих компаній; (b) організація не має жодних негативних записів у нас; (c) вигода від видимості гіперпосилання компенсує відсутність назви компанії; і (d) посилання знаходиться в контексті загальної інформації про ресурс.


    </p>

    <p>
Ці організації можуть посилатися на нашу домашню сторінку, якщо посилання: (a) жодним чином не є оманливим; (b) не натякає на спонсорство, схвалення чи схвалення сторони, що зв’язується, та її продуктів або послуг; і (c) відповідає контексту сайту сторони, яка посилається.


    </p>

    <p>
      Якщо ви є однією з організацій, перелічених у пункті 2 вище, і зацікавлені в посиланні на наш веб-сайт, ви повинні повідомити нас, надіславши електронний лист на адресу компанії. Будь ласка, вкажіть своє ім’я, назву вашої організації, контактну інформацію, а також URL-адресу вашого сайту, список будь-яких URL-адрес, з яких ви збираєтеся перейти за посиланням на наш веб-сайт, і список URL-адрес на нашому сайті, на які ви хотіли б посилання. Чекайте 2-3 тижні на відповідь.


    </p>

    <p>Схвалені організації можуть мати такі гіперпосилання на наш веб-сайт:

    </p>
    Використовуючи назву нашої компанії; або шляхом використання єдиного покажчика ресурсу, з яким пов’язано; або шляхом використання будь-якого іншого опису нашого веб-сайту, на який є посилання, що має сенс у контексті та форматі вмісту на сайті сторони, яка посилається. За відсутності ліцензійної угоди на торговельну марку використання логотипу назви компанії чи інших зображень для посилань заборонено.


    <h4>iFrames</h4>Без попереднього схвалення та письмового дозволу ви не можете створювати рамки навколо наших веб-сторінок, які будь-яким чином змінюють візуальне представлення або зовнішній вигляд нашого веб-сайту.


    <h4>Відповідальність за вміст
    </h4>
    Ми не несемо відповідальності за будь-який вміст, який з’являється на вашому Веб-сайті. Ви погоджуєтеся захищати нас від усіх претензій, які висуваються на вашому веб-сайті. На жодному веб-сайті не повинно бути жодних посилань, які можуть бути витлумачені як наклепницькі, непристойні чи злочинні, або які порушують, іншим чином порушують або пропагують порушення чи інше порушення будь-яких прав третіх сторін.


    <h4>Збереження прав
    </h4>
    Ми залишаємо за собою право вимагати від вас видалити всі посилання або будь-яке конкретне посилання на наш Веб-сайт. Ви погоджуєтеся негайно видалити всі посилання на наш веб-сайт за запитом. Ми також залишаємо за собою право в будь-який час змінити ці положення та умови та політику посилань. Постійно встановлюючи посилання на наш Веб-сайт, ви погоджуєтеся дотримуватися цих умов і положень посилань.


    <h4>Видалення посилань з нашого сайту
    </h4>
    Якщо ви знайдете будь-яке посилання на нашому Веб-сайті, яке є образливим з будь-якої причини, ви можете зв’язатися з нами та повідомити про це в будь-який момент. Ми розглянемо запити на видалення посилань, але не зобов’язані відповідати вам безпосередньо. Ми не гарантуємо, що інформація на цьому веб-сайті є правильною, ми не гарантуємо її повноту чи точність; ми також не гарантуємо, що веб-сайт залишається доступним або що матеріали на веб-сайті оновлюються.


    <h4>Відмова від відповідальності
    </h4>
    У максимальному ступені, дозволеному чинним законодавством, ми виключаємо всі заяви, гарантії та умови, пов’язані з нашим веб-сайтом і використанням цього веб-сайту. Ніщо в цьому застереженні:

    <ul>
      <li>
        обмежити або виключити нашу або вашу відповідальність за смерть або тілесні ушкодження;

      </li>
      <li>
        обмежити або виключити нашу або вашу відповідальність за шахрайство або шахрайське введення в оману;

      </li>
      <li>
        обмежувати будь-яку нашу або вашу відповідальність будь-яким способом, який не дозволений чинним законодавством; або

      </li>
      <li>виключити будь-які наші чи ваші зобов’язання, які не можуть бути виключені відповідно до чинного законодавства.

      </li>
    </ul>

    <p>
      Обмеження та заборони відповідальності, встановлені в цьому Розділі та в інших місцях цієї заяви про відмову від відповідальності: (a) підпадають під дію попереднього абзацу; та (b) регулюють усі зобов’язання, що виникають згідно із застереженням, у тому числі зобов’язання, що виникають у контракті, через правопорушення та порушення законних обов’язків.


    </p>

    <p>
   Поки веб-сайт, а також інформація та послуги на веб-сайті надаються безкоштовно, ми не несемо відповідальності за будь-які втрати чи пошкодження будь-якого характеру.


    </p>
  </div>
  <div *ngIf="base.pageLanguage == 'tr'">
    <h3>Gizlilik Politikası
    </h3>

    <p>ChatInUni'ye hoş geldiniz!</p>

    <p>
      Bu hüküm ve koşullar, <a href="https://chatinuni.com"> chatinuni.com</a> adresinde bulunan ChatInUni'nin kullanımına ilişkin kural ve düzenlemeleri özetlemektedir .


    </p>

    <p>
      Bu web sitesine erişerek, bu hüküm ve koşulları kabul ettiğinizi varsayıyoruz. Bu sayfada belirtilen tüm hüküm ve koşulları kabul etmiyorsanız ChatInUni'yi kullanmaya devam etmeyin.


    </p>

    <p>
      Bu Hüküm ve Koşullar, Gizlilik Bildirimi ve Sorumluluk Reddi Bildirimi ve tüm Sözleşmeler için aşağıdaki terminoloji geçerlidir: “Müşteri”, “Siz” ve “Sizin”, bu web sitesinde oturum açan ve Şirketin hüküm ve koşullarına uyan kişi olarak sizi ifade eder. “Şirket”, “Kendimiz”, “Biz”, “Bizim” ve “Biz”, Şirketimizi ifade eder. "Taraf", "Taraflar" veya "Biz", hem Müşteriyi hem de kendimizi ifade eder. Tüm şartlar, Müşteriye, Şirketin belirtilen hizmetlerinin sağlanmasına ilişkin ihtiyaçlarının açık bir şekilde karşılanması amacıyla Müşteriye yardım sürecini en uygun şekilde üstlenmek için gerekli ödemenin teklifini, kabulünü ve değerlendirilmesini ifade eder. ve Hollanda'nın geçerli yasalarına tabidir. Yukarıdaki terminolojinin veya diğer kelimelerin tekil, çoğul,


    </p>

    <h4>Çerezler</h4>
    <p>
      Çerez kullanımı kullanıyoruz. ChatInUni'ye erişerek, ChatInUninın Gizlilik Politikasına uygun olarak çerezleri kullanmayı kabul etmiş olursunuz.
    </p>

    <p>
      Çoğu etkileşimli web sitesi, her ziyaret için kullanıcının ayrıntılarını almamıza izin vermek için çerezleri kullanır. Çerezler, web sitemizi ziyaret eden kişilerin işini kolaylaştırmak için belirli alanların işlevselliğini sağlamak için web sitemiz tarafından kullanılmaktadır. Bağlı kuruluş/reklam ortaklarımızdan bazıları da çerez kullanabilir.


    </p>

    <h4>Lisans</h4>
    <p>
      Aksi belirtilmedikçe, ChatInUni'deki tüm materyallerin fikri mülkiyet hakları ChatInUni ve/veya lisans verenlerine aittir. Tüm fikri mülkiyet hakları saklıdır. Bu hüküm ve koşullarda belirlenen kısıtlamalara tabi olarak kendi kişisel kullanımınız için ChatInUni'den buna erişebilirsiniz.


    </p>

    <p>Yapmamalısın:</p>
    <ul>
      <li>ChatInUni'den materyali yeniden yayınlayın</li>
      <li>ChatInUni'den malzeme satma, kiralama veya alt lisans verme</li>
      <li>ChatInUni'deki materyalleri çoğaltın, çoğaltın veya kopyalayın</li>
      <li>İçeriği ChatInUni'den yeniden dağıtın</li>
    </ul>
    <p>Bu Sözleşme, işbu Sözleşme tarihinde başlayacaktır.    </p>
    <p>
      Bu web sitesinin bölümleri, kullanıcılara web sitesinin belirli alanlarında fikir ve bilgi gönderme ve alışverişinde bulunma fırsatı sunar. ChatInUni, Web sitesinde bulunmadan önce Yorumları filtrelemez, düzenlemez, yayınlamaz veya incelemez. Yorumlar, ChatInUninın, acentelerinin ve/veya iştiraklerinin görüş ve görüşlerini yansıtmaz. Yorumlar, görüş ve düşüncelerini yayınlayan kişinin görüş ve düşüncelerini yansıtır. Yürürlükteki yasaların izin verdiği ölçüde, ChatInUni, Yorumlar veya Yorumların herhangi bir şekilde kullanılması ve/veya yayınlanması ve/veya görünümünden kaynaklanan ve/veya maruz kalınan herhangi bir yükümlülük, zarar veya masraftan sorumlu olmayacaktır. bu web sitesi.


    </p>

    <p>
      ChatInUni, tüm Yorumları izleme ve uygunsuz, saldırgan olarak kabul edilebilecek veya bu Hüküm ve Koşulların ihlaline neden olabilecek Yorumları kaldırma hakkını saklı tutar.


    </p>

    <p>Aşağıdakileri garanti ve beyan edersiniz:    </p>
    <ul>
      <li>
        Yorumları web sitemizde yayınlama hakkına sahipsiniz ve bunun için gerekli tüm lisanslara ve izinlere sahipsiniz;

      </li>
      <li>
        Yorumlar, herhangi bir üçüncü şahsın telif hakkı, patenti veya ticari markası dahil ancak bunlarla sınırlı olmamak üzere herhangi bir fikri mülkiyet hakkını ihlal etmez;

      </li>
      <li>
        Yorumlar, mahremiyeti ihlal eden herhangi bir karalayıcı, karalayıcı, saldırgan, uygunsuz veya başka bir şekilde yasa dışı materyal içermemektedir.

      </li>
      <li>
        Yorumlar, mahremiyeti ihlal eden herhangi bir karalayıcı, karalayıcı, saldırgan, uygunsuz veya başka bir şekilde yasa dışı materyal içermemektedir.
      </li>
      <li>
        Yorumlar, ticari faaliyetleri veya gelenekleri teşvik etmek veya teşvik etmek veya ticari faaliyetler veya yasa dışı faaliyetler sunmak için kullanılmayacaktır.

      </li>
    </ul>

    <p>
      İşbu belgeyle ChatInUni, Yorumlarınızı herhangi bir şekilde ve tüm formlarda, formatlarda veya ortamlarda kullanma, çoğaltma, düzenleme ve başkalarına yetki verme konusunda münhasır olmayan bir lisans veriyorsunuz.


    </p>

    <h4>İçeriğimize Köprü Oluşturma
    </h4>
    <p>
      Aşağıdaki kuruluşlar önceden yazılı onay almadan Web Sitemize bağlanabilir:


    </p>
    <ul>
      <li>Devlet kurumları;
      </li>
      <li>Arama motorları;
      </li>
      <li>Haber kuruluşları;
      </li>
      <li>
        Çevrimiçi rehber dağıtıcıları, Web Sitemize, listelenen diğer işletmelerin Web Sitelerine köprü oluşturdukları gibi bağlantı verebilirler; ve

      </li>
      <li>
        Kar amacı gütmeyen kuruluşlar, hayır amaçlı alışveriş merkezleri ve Web sitemize köprü oluşturamayan hayır kurumu bağış toplama grupları talep eden hariç, sistem çapında Akredite İşletmeler.

      </li>
    </ul>

    <p>
      Bu kuruluşlar, bağlantı: (a) hiçbir şekilde aldatıcı olmadığı; (b) bağlantı veren tarafın ve ürünlerinin ve/veya hizmetlerinin sponsorluğunu, onayını veya onayını yanlış bir şekilde ima etmez; ve (c) bağlantı veren tarafın sitesi bağlamına uyması.


    </p>

    <p>
      Aşağıdaki kuruluş türlerinden gelen diğer bağlantı isteklerini değerlendirebilir ve onaylayabiliriz:


    </p>

    <ul>
      <li>yaygın olarak bilinen tüketici ve/veya ticari bilgi kaynakları;
      </li>
      <li>dot.com topluluk siteleri;
      </li>
      <li>hayır kurumlarını temsil eden dernekler veya diğer gruplar;
      </li>
      <li>çevrimiçi dizin dağıtıcıları;
      </li>
      <li>internet portalları;
      </li>
      <li>muhasebe, hukuk ve danışmanlık firmaları; ve
      </li>
      <li>eğitim kurumları ve ticaret birlikleri.
      </li>
    </ul>

    <p>
      Aşağıdakilere karar verirsek, bu kuruluşlardan gelen bağlantı isteklerini onaylayacağız: (a) bağlantı kendimiz veya akredite işletmelerimiz için olumsuz görünmemize neden olmaz; (b) kuruluşun bizimle herhangi bir olumsuz kaydının olmaması; (c) köprünün görünürlüğünden bize sağlanan fayda, Şirket Adının yokluğunu telafi eder; ve (d) bağlantı, genel kaynak bilgileri bağlamındadır.


    </p>

    <p>
     Bu kuruluşlar, bağlantı: (a) hiçbir şekilde yanıltıcı olmadığı sürece; (b) bağlantı veren tarafın ve ürün veya hizmetlerinin sponsorluğunu, onayını veya onayını yanlış bir şekilde ima etmez; ve (c) bağlantı veren tarafın sitesi bağlamına uyması.


    </p>

    <p>
      Yukarıdaki 2. paragrafta listelenen kuruluşlardan biriyseniz ve web sitemize bağlantı vermekle ilgileniyorsanız, Şirket Adına bir e-posta göndererek bizi bilgilendirmelisiniz. Lütfen adınızı, kuruluşunuzun adını, iletişim bilgilerinizin yanı sıra sitenizin URL'sini, Web Sitemize bağlantı vermeyi düşündüğünüz URL'lerin bir listesini ve sitemizde yer almak istediğiniz URL'lerin bir listesini ekleyin. bağlantı. Yanıt için 2-3 hafta bekleyin.


    </p>

    <p>Onaylı kuruluşlar Web Sitemize aşağıdaki şekilde hiper bağlantı verebilir:

</p>

Kurumsal ismimizi kullanarak; veya Bağlantılı olan tek tip kaynak bulucunun kullanılmasıyla; veya Web sitemizin bağlantılı olduğu başka herhangi bir açıklamanın kullanılması, bağlantı veren tarafın sitesindeki içeriğin bağlamı ve formatı dahilinde anlamlıdır. Ticari marka lisans sözleşmesi olmadan bağlantı kurmak için ChatInUni logosunun veya diğer sanat eserlerinin kullanılmasına izin verilmeyecektir.


    <h4>iFrame'ler</h4>
    Önceden onay ve yazılı izin olmaksızın, Web Sayfalarımızın çevresinde, Web Sitemizin görsel sunumunu veya görünümünü herhangi bir şekilde değiştiren çerçeveler oluşturamazsınız.


    <h4>İçerik Sorumluluğu</h4>
    Web Sitenizde görünen herhangi bir içerikten sorumlu tutulamayız. Web Sitenizde ortaya çıkan tüm iddialara karşı bizi korumayı ve savunmayı kabul ediyorsunuz. Herhangi bir Web Sitesinde, iftira niteliğinde, müstehcen veya suçlu olarak yorumlanabilecek veya herhangi bir üçüncü taraf hakkını ihlal eden, başka bir şekilde ihlal eden veya ihlal veya diğer ihlalleri savunan hiçbir bağlantı bulunmamalıdır.


    <h4>Hakların Saklanması
    </h4>
    Web Sitemize olan tüm bağlantıları veya belirli bir bağlantıyı kaldırmanızı talep etme hakkımızı saklı tutarız. Talep üzerine Web Sitemize olan tüm bağlantıları derhal kaldırmayı onaylıyorsunuz. Ayrıca, bu hüküm ve koşulları ve bağlantı politikasını herhangi bir zamanda değiştirme hakkını saklı tutarız. Web Sitemize sürekli olarak bağlanarak, bu bağlantı şart ve koşullarına bağlı kalmayı ve bunlara uymayı kabul edersiniz.


    <h4>Web sitemizden bağlantıların kaldırılması
    </h4>
    Web Sitemizde herhangi bir nedenle saldırgan bir bağlantı bulursanız, istediğiniz zaman bizimle iletişime geçebilir ve bizi bilgilendirebilirsiniz. Bağlantıları kaldırma isteklerini dikkate alacağız, ancak size doğrudan yanıt vermekle yükümlü değiliz. Bu web sitesindeki bilgilerin doğruluğunu garanti etmiyoruz, eksiksizliğini veya doğruluğunu garanti etmiyoruz; ne de web sitesinin kullanılabilir kalmasını veya web sitesindeki materyalin güncel tutulmasını sağlamayı taahhüt etmiyoruz.


    <h4>Sorumluluk Reddi
    </h4>
    Yürürlükteki yasaların izin verdiği azami ölçüde, web sitemize ve bu web sitesinin kullanımına ilişkin tüm beyanları, garantileri ve koşulları hariç tutuyoruz. Bu sorumluluk reddindeki hiçbir şey:

    <ul>
      <li>
        ölüm veya kişisel yaralanma için bizim veya sizin sorumluluğunuzu sınırlamak veya hariç tutmak;

      </li>
      <li>
        dolandırıcılık veya hileli yanlış beyan için bizim veya sizin sorumluluğunuzu sınırlamak veya hariç tutmak;
      </li>
      <li>
        bizim veya sizin yükümlülüklerinizden herhangi birini yürürlükteki yasaların izin vermediği şekilde sınırlamak; veya

      </li>
      <li>
        yürürlükteki yasalar kapsamında hariç tutulamayacak olan bizim veya sizin yükümlülüklerinizden herhangi birini hariç tutmak.

      </li>
    </ul>

    <p>
      Bu Bölümde ve bu sorumluluk reddinin başka yerlerinde belirtilen sorumluluk sınırlamaları ve yasakları: (a) önceki paragrafa tabidir; ve (b) sözleşmeden, haksız fiilden ve yasal yükümlülüğün ihlalinden doğan yükümlülükler dahil olmak üzere, sorumluluk reddinden doğan tüm yükümlülükleri yönetir.


    </p>

    <p>
      Web sitesi ve web sitesindeki bilgi ve hizmetler ücretsiz olarak sağlandığı sürece, herhangi bir kayıp veya hasardan sorumlu olmayacağız.


    </p>
  </div>
</div>
