<div class="content">
  <div *ngIf="base.pageLanguage == 'en'">
    <h2>Terms and Conditions</h2>

    <p>
      Please read these Terms and Conditions ("Terms", "Terms and Conditions")
      carefully before using the ChatInUni web and mobile application (the
      "Site") operated by ChatInUni. ("us", "we", or "our").
    </p>

    <p>
      Your access to and use of the Site is conditioned upon your acceptance of
      and compliance with these Terms. These Terms apply to all visitors, users
      and others who wish to access or use the Site.
    </p>

    <b
      >By accessing or using the Site you agree to be bound by these Terms. If
      you disagree with any part of the terms then you do not have permission to
      access the Site.</b
    >

    <b>The following breaches Community Guidelines:</b>
    <ul>
      <li>Threats and intimidation</li>
      <li>Harassment, bullying, and spamming</li>
      <li>Threats of physical harm or other criminal activities</li>
      <li>Requesting nudes</li>
    </ul>

    <b>The following cannot be shared:</b>
    <ul>
      <li>Gory or graphic images/videos.</li>
      <li>
        Images/videos that promote violence, such as violent acts, guns, knives
        or weapons.
      </li>
      <li>
        Hateful content or content promoting organized crime of any kind,
        including terrorism.
      </li>
      <li>Content with sexuality</li>
      <li>Pornographic content</li>
      <li>Threatening</li>
    </ul>

    <b>Identity The following breaches Community Guidelines: </b>
    <ul>
      <li>Not showing your face clearly while live streaming</li>
      <li>Using fake pictures as your profile picture</li>
      <li>Impersonating someone else</li>
      <li>Lying about your birthday</li>
      <li>Impersonating others</li>
      <li>Using photos</li>
    </ul>

    <h3>Account</h3>
    <p>
      When you create an account with us, you guarantee that you are above the
      age of 18, and that the information you provide us is accurate, complete,
      and current at all times. Inaccurate, incomplete, or obsolete information
      may result in the immediate termination of your account on the Site.
    </p>

    <p>There is no tolerance for objectionable content or abusive users.</p>

    <p>
      You are responsible for maintaining the confidentiality of your account
      and password, including but not limited to the restriction of access to
      your computer and/or account. You agree to accept responsibility for any
      and all activities or actions that occur under your account and/or
      password, whether your password is with our Site or a third-party service.
      You must notify us immediately upon becoming aware of any breach of
      security or unauthorized use of your account.
    </p>

    <p>
      We reserve the right to refuse service, terminate accounts, remove or edit
      content in our sole discretion.
    </p>

    <h3>Intellectual Property</h3>
    <p>
      The Site and its original content, features and functionality are and will
      remain the exclusive property of ChatInuni and its licensors. The Site is
      protected by copyright, trademark, and other laws of both the United
      States and foreign countries. Our trademarks and trade dress may not be
      used in connection with any product or service without the prior written
      consent of ChatInuni
    </p>

    <h3>Termination</h3>

    <p>
      We may terminate or suspend your account and bar access to the Site
      immediately, without prior notice or liability, under our sole discretion,
      for any reason whatsoever and without limitation, including but not
      limited to a breach of the Terms.
    </p>

    <p>
      If you wish to terminate your account, you may simply discontinue using
      the Site.
    </p>
    <p>
      All provisions of the Terms which by their nature should survive
      termination shall survive termination, including, without limitation,
      ownership provisions, warranty disclaimers, indemnity and limitations of
      liability.
    </p>

    <h3>Tazminat</h3>

    <p>
      You agree to defend, indemnify and hold harmless ChatInuni and its
      licensee and licensors, and their employees, contractors, agents, officers
      and directors, from and against any and all claims, damages, obligations,
      losses, liabilities, costs or debt, and expenses (including but not
      limited to attorney's fees), resulting from or arising out of a) your use
      and access of the Site, by you or any person using your account and
      password, or b) a breach of these Terms.
    </p>

    <h3>Limitation Of Liability</h3>
    <p>
      In no event shall ChatInuni, nor its directors, employees, partners,
      agents, suppliers, or affiliates, be liable for any indirect, incidental,
      special, consequential or punitive damages, including without limitation,
      loss of profits, data, use, goodwill, or other intangible losses,
      resulting from (i) your access to or use of or inability to access or use
      the Site; (ii) any conduct or content of any third party on the Site;
      (iii) any content obtained from the Site; and (iv) unauthorized access,
      use or alteration of your transmissions or content, whether based on
      warranty, contract, tort (including negligence) or any other legal theory,
      whether or not we have been informed of the possibility of such damage,
      and even if a remedy set forth herein is found to have failed of its
      essential purpose.
    </p>

    <h3>Disclaimer</h3>
    <p>
      Your use of the Site is at your sole risk. The Site is provided on an "AS
      IS" and "AS AVAILABLE" basis. The Site is provided without warranties of
      any kind, whether express or implied, including, but not limited to,
      implied warranties of merchantability, fitness for a particular purpose,
      non-infringement or course of performance.
    </p>
    <p>
      ChatInuni its subsidiaries, affiliates, and its licensors do not warrant
      that a) the Site will function uninterrupted, secure or available at any
      particular time or location; b) any errors or defects will be corrected;
      c) the Site is free of viruses or other harmful components; or d) the
      results of using the Site will meet your requirements.
    </p>

    <h3>Exclusions</h3>

    <p>
      Some jurisdictions do not allow the exclusion of certain warranties or the
      exclusion or limitation of liability for consequential or incidental
      damages, so the limitations above may not apply to you.
    </p>

    <h3>Governing Law</h3>

    <p>
      These Terms shall be governed and construed in accordance with the laws of
      California, United States, without regard to its conflict of law
      provisions.
    </p>
    <p>
      Our failure to enforce any right or provision of these Terms will not be
      considered a waiver of those rights. If any provision of these Terms is
      held to be invalid or unenforceable by a court, the remaining provisions
      of these Terms will remain in effect. These Terms constitute the entire
      agreement between us regarding our Site, and supersede and replace any
      prior agreements we might have had between us regarding the Site.
    </p>

    <h3>Changes</h3>
    <p>
      We reserve the right, at our sole discretion, to modify or replace these
      Terms at any time. If a revision is material we will provide at least 30
      days notice prior to any new terms taking effect. What constitutes a
      material change will be determined at our sole discretion.
    </p>

    <p>
      By continuing to access or use our Site after any revisions become
      effective, you agree to be bound by the revised terms. If you do not agree
      to the new terms, you are no longer authorized to use the Site.
    </p>

    <h3>Contact Us</h3>

    <p>If you have any questions about these Terms, please contact us.</p>
  </div>
  <div *ngIf="base.pageLanguage == 'tr'">
    <h2>Kullanım Koşulları</h2>

    <p>
      ChatInUni web ve mobil uygulamasını ("Site") kullanmadan önce lütfen bu Hüküm ve Koşulları ("Şartlar", "Kullanım Koşulları") dikkatlice okuyun.

    </p>

    <p>
      Siteye erişiminiz ve Siteyi kullanımınız, bu Şartları kabul etmenize ve bunlara uymanıza bağlıdır. Bu Koşullar, Siteye erişmek veya Siteyi kullanmak isteyen tüm ziyaretçiler, kullanıcılar ve diğerleri için geçerlidir.
    </p>

    <b>Siteye erişerek veya Siteyi kullanarak bu Şartlara bağlı kalmayı kabul edersiniz. Koşulların herhangi bir kısmına katılmıyorsanız, Siteye erişim izniniz yoktur. Aşağıdakiler Topluluk Kurallarını ihlal eder</b>

    <b>The following breaches Community Guidelines:</b>
    <ul>
      <li>Tehditler ve yıldırma</li>
      <li>Taciz, zorbalık ve spam gönderme</li>
      <li>Fiziksel zarar tehdidi veya diğer suç faaliyetleri
      </li>
      <li>Çıplaklık talebi</li>
    </ul>

    <b>Aşağıdakiler paylaşılamaz:</b>
    <ul>
      <li>Kanlı veya grafik görüntüler/videolar.      </li>
      <li>
        Şiddet içeren eylemler, silahlar, bıçaklar veya silahlar gibi şiddeti teşvik eden resimler/videolar.
      </li>
      <li>
        Nefret dolu içerik veya terörizm dahil her türlü organize suçu teşvik eden içerik.

      </li>
      <li>Cinsel içerikli içerikler
      </li>
      <li>Pornografik içerik</li>
      <li>Tehdit</li>
    </ul>

    <b>Kimlik Aşağıdakiler Topluluk Kurallarını ihlal ediyor:
    </b>
    <ul>
      <li>Canlı yayın sırasında yüzünüzü net göstermiyor
      </li>
      <li>Profil resminiz olarak sahte resimler kullanmak</li>
      <li>Başka birinin kimliğine bürünme</li>
      <li>Doğum günün hakkında yalan söylemek
      </li>
      <li>Başkalarını taklit etme
      </li>
      <li>Siteye eklenmiş fotoğrafları kullanma</li>
    </ul>

    <h3>Kullanıcı Hesabı</h3>
    <p>Bizde bir hesap oluşturduğunuzda, 18 yaşından büyük olduğunuzu ve bize verdiğiniz bilgilerin her zaman doğru, eksiksiz ve güncel olduğunu garanti edersiniz. Yanlış, eksik veya eski bilgiler Sitedeki hesabınızın derhal feshedilmesine neden olabilir.


    </p>

    <p>Sakıncalı içeriğe veya kötü niyetli kullanıcılara tolerans gösterilmez.

    </p>

    <p>
      Bilgisayarınıza ve/veya hesabınıza erişimin kısıtlanması dahil ancak bunlarla sınırlı olmamak üzere hesabınızın ve şifrenizin gizliliğini korumaktan siz sorumlusunuz. Parolanız Sitemizde veya bir üçüncü taraf hizmetinde olsun, hesabınız ve/veya parolanız altında gerçekleşen her türlü faaliyet veya eylemin sorumluluğunu kabul etmektesiniz. Hesabınızın herhangi bir güvenlik ihlali veya yetkisiz kullanımından haberdar olduğunuzda derhal bize haber vermelisiniz.


    </p>

    <p>
      Tamamen kendi takdirimize bağlı olarak hizmeti reddetme, hesapları feshetme, içeriği kaldırma veya düzenleme hakkını saklı tutarız.


    </p>

    <h3>Fikri mülkiyet
    </h3>
    <p>
      Site ve orijinal içeriği, özellikleri ve işlevselliği ChatInuni ve lisans verenlerinin münhasır mülkiyetindedir ve öyle kalacaktır. Site, hem Amerika Birleşik Devletleri hem de yabancı ülkelerin telif hakkı, ticari marka ve diğer yasalarıyla korunmaktadır. Ticari markalarımız ve ticari takdim şeklimiz, ChatInuni'nin önceden yazılı izni olmaksızın herhangi bir ürün veya hizmetle bağlantılı olarak kullanılamaz.


    </p>

    <h3>Hesabı Sonlandırma</h3>

    <p>Kendi takdirimize bağlı olarak, herhangi bir nedenle ve Şartların ihlali dahil ancak bununla sınırlı olmamak üzere, herhangi bir nedenle ve sınırlama olmaksızın, önceden bildirimde bulunmadan veya yükümlülük altına girmeden, hesabınızı derhal feshedebilir veya askıya alabilir ve Siteye erişiminizi engelleyebiliriz.


    </p>

    <p>
      Hesabınızı sonlandırmak isterseniz, Siteyi kullanmayı bırakabilirsiniz.


    </p>
    <p>
      Şartların doğası gereği fesihten sonra geçerli olması gereken tüm hükümleri, mülkiyet hükümleri, garanti feragatnameleri, tazminat ve sorumluluk sınırlamaları dahil ancak bunlarla sınırlı olmamak üzere fesihten sonra da geçerli olacaktır.


    </p>

    <h3>Tazminat</h3>

    <p>
      ChatInuni'yi ve lisans sahibini ve lisans verenlerini ve çalışanlarını, yüklenicilerini, acentelerini, memurlarını ve yöneticilerini her türlü iddia, zarar, yükümlülük, kayıp, yükümlülük, maliyet veya borç ve harcamalara karşı savunmayı, tazmin etmeyi ve zarar görmemesini sağlamayı kabul edersiniz. (avukatlık ücretleri dahil ancak bunlarla sınırlı olmamak üzere), a) Siteyi sizin veya hesabınızı ve şifrenizi kullanan herhangi bir kişi tarafından kullanımınız ve erişiminizden veya b) bu ​​Koşulların ihlalinden kaynaklanan veya bunlardan kaynaklanan.


    </p>

    <h3>Sorumluluğun Sınırlandırılması    </h3>
    <p>
      ChatInuni veya onun direktörleri, çalışanları, ortakları, acenteleri, tedarikçileri veya iştirakleri hiçbir şekilde kar kaybı, veri, kullanım, şerefiye, veya (i) Siteye erişiminiz veya Siteyi kullanmanız veya Siteye erişememeniz veya kullanamamanızdan kaynaklanan diğer maddi olmayan kayıplar; (ii) Sitedeki herhangi bir üçüncü şahsın herhangi bir davranışı veya içeriği; (iii) Siteden elde edilen herhangi bir içerik; ve (iv) ister garantiye, sözleşmeye, haksız fiile (ihmal dahil) veya başka herhangi bir yasal teoriye dayalı olsun, ister bu tür bir hasarın olasılığı konusunda bilgilendirilip bilgilendirilmediğimize bakılmaksızın, aktarımlarınıza veya içeriğinize yetkisiz erişim, kullanım veya değişiklik ve hatta burada belirtilen bir çözüm yolunun esas amacına ulaşamadığı tespit edilirse.


    </p>

    <h3>Sorumluluk Reddi    </h3>
    <p>
      Siteyi kullanımınızın tüm riski size aittir. Site, "OLDUĞU GİBİ" ve "MEVCUT OLDUĞU GİBİ" esasına göre sunulmaktadır. Site, satılabilirlik, belirli bir amaca uygunluk, ihlal etmeme veya performans seyri dahil, ancak bunlarla sınırlı olmamak üzere, açık veya zımni hiçbir garanti verilmeksizin sağlanmaktadır.
    </p>
    <p>
      ChatInuni'nin yan kuruluşları, bağlı kuruluşları ve lisans verenleri, a) Sitenin kesintisiz, güvenli veya belirli bir zamanda veya yerde kullanılabilir olacağını; b) herhangi bir hata veya kusur düzeltilecektir; c) Sitenin virüs veya diğer zararlı bileşenler içermediğini; veya d) Siteyi kullanmanın sonuçları gereksinimlerinizi karşılayacaktır.


    </p>

    <h3>İstisnalar</h3>

    <p>
      Bazı yargı bölgeleri, belirli garantilerin hariç tutulmasına veya dolaylı veya arızi hasarlar için sorumluluğun hariç tutulmasına veya sınırlandırılmasına izin vermez, bu nedenle yukarıdaki sınırlamalar sizin için geçerli olmayabilir.
    </p>

    <h3>Geçerli Kanun
    </h3>

    <p>
      Bu Şartlar, kanun hükümleri ihtilafına bakılmaksızın, Kaliforniya, Amerika Birleşik Devletleri kanunlarına göre yönetilecek ve yorumlanacaktır.


    </p>
    <p>
      Bu Koşulların herhangi bir hakkını veya hükmünü uygulamamamız, bu haklardan feragat edildiği anlamına gelmez. Bu Koşulların herhangi bir hükmünün bir mahkeme tarafından geçersiz veya uygulanamaz olduğuna karar verilirse, bu Koşulların geri kalan hükümleri yürürlükte kalacaktır. Bu Koşullar, Sitemizle ilgili aramızdaki tüm sözleşmeyi oluşturur ve Site ile ilgili olarak aramızda daha önce yapmış olabileceğimiz tüm sözleşmelerin yerine geçer ve bunların yerine geçer.


    </p>

    <h3>Değişiklikler</h3>
    <p>
      Tamamen kendi takdirimize bağlı olarak, bu Koşulları herhangi bir zamanda değiştirme veya değiştirme hakkını saklı tutarız. Bir revizyon önemliyse, yeni şartların yürürlüğe girmesinden en az 30 gün önce bildirimde bulunacağız. Önemli bir değişikliği neyin oluşturduğu tamamen bizim takdirimize bağlı olarak belirlenecektir.


    </p>

    <p>
      Herhangi bir revizyon yürürlüğe girdikten sonra Sitemize erişmeye veya Sitemizi kullanmaya devam ederek, revize edilen şartlara bağlı kalmayı kabul etmektesiniz. Yeni şartları kabul etmiyorsanız, artık Siteyi kullanma yetkiniz yok.
    </p>

    <h3>Bize Ulaşın
    </h3>

    <p>Bu Koşullar hakkında herhangi bir sorunuz varsa, lütfen bizimle iletişime geçin.    </p>
  </div>
  <div *ngIf="base.pageLanguage == 'ua'">
    <h2>Умови використання</h2>

    <p>
      Будь ласка, уважно ознайомтеся з цими Правилами та Умовами («Умови», «Умови використання») перед використанням веб- та мобільного додатку ChatInUni («Сайт»).


    </p>

    <p>
      Ваш доступ до Сайту та використання ним залежить від вашої згоди та дотримання цих Умов. Ці Умови застосовуються до всіх відвідувачів, користувачів та інших осіб, які бажають отримати доступ або використовувати Сайт.

    </p>

    <b>Отримуючи доступ або використовуючи Сайт, ви погоджуєтеся дотримуватися цих Умов. Якщо ви не згодні з будь-якою частиною Умов, ви не маєте дозволу на доступ до Сайту. Наступне порушує Правила спільноти:
    </b>

    <b>Наступне порушує Правила спільноти:</b>
    <ul>
      <li>Погрози та залякування</li>
      <li>Переслідування, залякування та спам</li>
      <li>Погроза фізичної шкоди або іншої злочинної діяльності
      </li>
      <li>Запит на оголеність      </li>
    </ul>

    <b>Не можна ділитися:</b>
    <ul>
      <li>Криваві або графічні зображення/відео.
      </li>
      <li>
        Зображення/відео, які пропагують насильство, як-от насильницькі акти, зброю, ножі чи пістолети.

      </li>
      <li>
        Вміст, який пропагує ненависть або будь-яку форму організованої злочинності, зокрема тероризм.
      </li>
      <li>Контент відвертого сексуального характеру

      </li>
      <li>порнографічного змісту
      </li>
      <li>Загрозливий</li>
    </ul>

    <b>Правила спільноти порушують:    </b>
    <ul>
      <li>Не показує чітко своє обличчя під час прямого ефіру

      </li>
      <li>Використання підроблених зображень як зображення профілю
      </li>
      <li>Видавати себе за когось іншого
      </li>
      <li>збрехати про свій день народження

      </li>
      <li>наслідування інших

      </li>
      <li>Використання фотографій, розміщених на сайті</li>
    </ul>

    <h3>Обліковий запис користувача
    </h3>
    <p>Коли ви створюєте обліковий запис у нас, ви гарантуєте, що вам більше 18 років і що інформація, яку ви нам надаєте, є правильною, повною та актуальною в будь-який час. Неправильна, неповна або застаріла інформація може призвести до негайного припинення дії вашого облікового запису на Сайті.


    </p>

    <p>Неприйнятний вміст або зловмисники не допускатимуться.


    </p>

    <p>
      Ви несете відповідальність за збереження конфіденційності свого облікового запису та пароля, включаючи, але не обмежуючись, обмеження доступу до вашого комп’ютера та/або облікового запису. Ви берете на себе відповідальність за будь-які дії чи дії, які відбуваються під вашим обліковим записом і/або паролем, незалежно від того, чи є ваш пароль на нашому Сайті чи в службі третьої сторони. Ви повинні негайно повідомити нас, якщо вам стане відомо про будь-яке порушення безпеки або несанкціоноване використання вашого облікового запису.


    </p>

    <p>
      Ми залишаємо за собою право відмовити в обслуговуванні, закрити облікові записи, видалити чи відредагувати вміст на власний розсуд.



    </p>

    <h3>Інтелектуальна власність

    </h3>
    <p>
      Сайт і його оригінальний вміст, функції та функції є та залишатимуться виключною власністю ChatInuni та його ліцензіарів. Сайт захищений авторським правом, торговими марками та іншими законами як Сполучених Штатів, так і інших країн. Наші товарні знаки та фірмовий вигляд не можна використовувати у зв’язку з будь-яким продуктом або послугою без попередньої письмової згоди ChatInuni.



    </p>

    <h3>Припинення дії облікового запису
    </h3>

    <p>Ми можемо на власний розсуд негайно припинити або призупинити ваш обліковий запис і заблокувати вам доступ до Сайту з будь-якої причини, включаючи, але не обмежуючись порушенням Умов, без попереднього повідомлення або відповідальності.


    </p>

    <p>
      Якщо ви бажаєте припинити дію свого облікового запису, ви можете припинити використання Сайту.



    </p>
    <p>
      Усі положення Умов, які за своїм характером мають застосовуватися після розірвання, залишаться в силі після розірвання, включаючи, але не обмежуючись, положення про власність, відмову від гарантій, відшкодування та обмеження відповідальності.



    </p>

    <h3>Компенсація</h3>

    <p>
      Ви погоджуєтеся захищати, відшкодовувати збитки та звільняти ChatInuni та її ліцензіарів і ліцензіарів та їхніх працівників, підрядників, агентів, посадових осіб і директорів від усіх претензій, збитків, зобов’язань, збитків, зобов’язань, витрат або зобов’язань і витрат. (включаючи, але не обмежуючись оплатою послуг адвокатів), a) користування та доступ до Сайту вами або будь-якою особою, яка використовує ваш обліковий запис і пароль, або b) виникає внаслідок або є наслідком порушення цих Умов.



    </p>

    <h3>Обмеження відповідальності
    </h3>
    <p>
      ChatInuni або його директори, співробітники, партнери, агенти, постачальники чи афілійовані особи будь-яким чином втратили прибуток, дані, використання, доброзичливість або (i) інші нематеріальні збитки, що виникли внаслідок вашого доступу до або використання Сайту або вашої неможливості отримати доступ або використовувати сайт; (ii) будь-яку поведінку або вміст будь-якої третьої сторони на Сайті; (iii) будь-який вміст, отриманий із Сайту; і (iv) несанкціонований доступ, використання або модифікація ваших передач або вмісту, засноване на гарантії, контракті, правопорушенні (включно з недбалістю) або будь-якій іншій юридичній теорії, незалежно від того, чи були ми повідомлені про можливість такої шкоди, або навіть засіб правового захисту викладених у цьому документі, якщо буде встановлено, що дорога не може досягти свого основного призначення.



    </p>

    <h3>Відмова від відповідальності
    </h3>
    <p>
      Ви використовуєте сайт на свій страх і ризик. Сайт надається на умовах «ЯК Є» та «ЯК ДОСТУПНИЙ». Сайт надається без будь-яких гарантій, як явних, так і непрямих, включаючи, але не обмежуючись, комерційну придатність, придатність для певної мети, відсутність порушень або якість роботи.

    </p>
    <p>
      Дочірні компанії, афілійовані особи та ліцензіари ChatInuni погоджуються, що а) Сайт буде працювати безперебійно, безпечно або доступно у визначений час або в певному місці; b) будь-яка помилка або дефект буде виправлено; c) Сайт не містить вірусів та інших шкідливих компонентів; або d) Результати використання Сайту відповідатимуть вашим вимогам.



    </p>

    <h3>Винятки</h3>

    <p>
      Деякі юрисдикції не дозволяють виключати певні гарантії або виключати чи обмежувати відповідальність за непрямі чи випадкові збитки, тому наведені вище обмеження можуть не стосуватися вас.

    </p>

    <h3>Застосовне право

    </h3>

    <p>
      Ці Умови регулюватимуться та тлумачитимуться відповідно до законодавства штату Каліфорнія, США, без урахування положень колізійного права.



    </p>
    <p>
      Наша неспроможність забезпечити дотримання будь-якого права чи положення цих Умов не означає відмову від цих прав. Якщо будь-яке положення цих Умов буде визнано судом недійсним або таким, що не має позовної сили, решта положень цих Умов залишатимуться в силі. Ці Умови складають повну угоду між нами щодо нашого Сайту та замінюють будь-які угоди, які ми могли раніше укладати між нами щодо Сайту.



    </p>

    <h3>Зміни</h3>
    <p>
      Ми залишаємо за собою право на власний розсуд змінювати або модифікувати ці Умови в будь-який час. Якщо зміна є суттєвою, ми повідомимо принаймні за 30 днів до того, як нові умови набудуть чинності. Те, що є суттєвою зміною, визначатиметься на власний розсуд.



    </p>

    <p>
      Продовжуючи доступ або використання нашого Сайту після того, як будь-які зміни набудуть чинності, ви погоджуєтеся дотримуватися переглянутих умов. Якщо ви не приймаєте нові умови, ви більше не маєте права використовувати Сайт.

    </p>

    <h3>Зв'яжіться з нами

    </h3>

    <p>Якщо у вас виникли запитання щодо цих Умов, зв’яжіться з нами.    </p>
  </div>
</div>
